* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ff6fb1;
  --secondary: #fde6f1;
  --dark: #2b2b2b;
  --light: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
  color: #333;
  line-height: 1.7;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1.5rem;
}

section {
  padding: 5rem 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--dark);
}
.bg-soft {
  background-color: var(--secondary);
}

/* Navbar */
.header {
  background: linear-gradient(90deg, #ff6fb1, #ff9cff);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  color: var(--light);
  font-weight: 700;
  font-size: 1.3rem;
  text-decoration: none;
}

/* Navbar Hiddeng (Mobile View) */
.navbar {
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: #e5e5e5;
  text-decoration: none;
  margin-left: 1.5rem;
  position: relative; /* Penting */
  padding-bottom: 6px;
  transition: color 0.3s ease;
}

/* Garis Pink */
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Awalnya */
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease;
}

/* Hover */
.navbar a:hover {
  color: var(--primary);
}

.navbar a:hover::after {
  width: 100%; /* Hanya Sepanjang Teks */
}

/* Active */
.navbar a.active {
  color: var(--primary);
}

.navbar a.active::after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
}

/* Hero */
.home h1 span {
  background: linear-gradient(90deg, #ff6fb1, #ff9fcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 3rem;
  align-items: center;
}

.home img {
  width: 260px;
  border-radius: 50%;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0, 0.15);
}

.home h1 {
  color: #3a3a3a; /* warna " Halo, Saya */
  font-size: 2.3rem;
  font-size: 700;
}

.home h1 span {
  color: var(--primary); /* warna nama (pink) */
}

.home p {
  margin: 1rem 0;
}

.social-icons a {
  font-size: 1.6rem;
  margin-right: 1rem;
  color: var(--dark);
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--primary);
}

.btn-group {
  margin-top: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  border-radius: 30px;
  background: var(--primary);
  color: white;
  text-decoration: none;
  transition: 0.3s;
  border: none;
}

.btn.secondary {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(255, 111, 177, 0.4);
}

/* Grid & Card */
.grid,
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.card {
  background: var(--light);
  border-radius: 18px;
  padding: 1.8rem;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 1rem;
}

/* Skills */
#skills .card {
  font-weight: 600;
  font-size: 1.1rem;
  background: linear-gradient(135, #ff6fb1, #ff9fd0);
  color: black;
}

/* Contact */
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: inherit;
}

/* Footer */
footer {
  background: linear-gradient(90deg, #ff6fb1, #ff9fcf);
  color: #fff;
  padding: 2.5rem 0;
}

footer a:hover {
  color: var(--primary); /* pink */
}

footer .social-icons a {
  color: #f5f5f5;
  margin: 0 0.3s ease;
}

footer .social-icons a:hover {
  color: var(--primary);
}

/* Responsive */
@media (max-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .navbar {
    display: none;
    flex-direction: column;
    background: linear-gradient(90deg, #ff6fb1, #ff9fcf);
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    padding: 1.5rem;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    margin: 1rem 0;
  }

  .hamburger {
    display: flex;
  }
}
